/* Write your global styles here, in PostCSS syntax */


body {
	padding: 2rem;
	/* max-width: 1500px; */
	margin: auto;
}

h1 {
	line-height: 1;
	text-transform: capitalize;
}

@tailwind components;

@tailwind utilities;
